@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<html>
    <body>
        <t1>Welcome to my homepage</t1>
<div>@Model.Value("bodyText")</div>
    </body>
</html>
